.left {
    background-color: #1f1f1f;
    color: #ffffff;
}

.right {
    background-color: #ffd166;
    color: #1f1f1f;
}

.left,
.right {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", "sans-serif";
}